:root{
    /* Colors */
    --sedans-color: hsl(31, 77%, 52%);
    --suvs-color: hsl(184, 100%, 22%);
    --lux-color: hsl(179, 100%, 13%);

    /* Fonts */
    --title-font: 'Big Shoulders Display', cursive;
    --text-font: 'Lexend Deca', sans-serif;
}

/* Spacings Reset */
*{
    padding: 0;
    margin: 0;
}

#main-container{
    width: 100vw;
    height: 100vh;
    /* background-color: aquamarine; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.sedans{
    background-color: var(--sedans-color);
    border-radius: 10px 0px 0px 10px;
}

.sedans button{
    color: var(--sedans-color);
}

.suvs{
    background-color: var(--suvs-color);
}

.suvs button{
    color: var(--suvs-color);
}

.luxury{
    background-color: var(--lux-color);
    border-radius: 0px 10px 10px 0px;
}

.luxury button{
    color: var(--lux-color);
}

.container{
    display: flex;
    flex-direction: row;

    /* background-color: blue; */
    width: 1000px;
}

.items{
    width: 33.3%;
    height: 390px;

    padding: 50px 50px;
    color: white;
}

.items h3{
    font-family: var(--title-font);
    font-size: 45px;
    text-transform: uppercase;
    padding-top: 25px;
}

.items p{
    font-family: var(--text-font);
    padding-top: 30px;
    line-height: 25px;
    font-weight: 100;
}

.items button{
    outline: none;
    background-color: white;
    border: 0;
    border-radius: 25px;
    width: 140px;
    height: 40px;
    font-family: var(--text-font);
    margin-top: 70px;
    cursor: pointer;
}

.items button:hover{
    background-color: transparent;
    border: 3px solid white;
    color: white;
}


/* Mobile */
@media only screen and (max-width: 800px){
    #main-container{
        height: auto;

        padding: 20px 0px;
    }

    .container{
        display: flex;
        flex-direction: column;

        width: 345px;
        height: 220vh;
    }

    .items{
        height: 33.3%;
        width: auto;
    }

    .sedans{
        border-radius: 10px 10px 0px 0px;
    }

    .luxury{
        border-radius: 0px 0px 10px 10px;
    }
}